{% extends "base/base.html" %}
{% load static %}

{% block 'content' %}

<!-- ========================================================= about section ==============================-->
<section class="about_pm">
    {% if user.is_authentificated %}
        <a href="{% url 'accounts:profile' %}">Profile</a>

    {% else %}
        <a href="{% url 'login' %}">Login</a>

    {% endif %}
    <div class="circle_h">
        <h2>PM</h2>
    </div>
    <div class="title_h">
        <h2>Pharmacy Manager</h2>
    </div>
    <div class="about_h">
        <div class="title">
            <h2>À propos de Pharmacy Manager</h2>
        </div>
        <div class="content">
            <h4>Notre plateforme de gestion pour les pharmacies</h4>
            <p>Pharmacy Manager est une plateforme en ligne complète qui permet aux pharmacies de gérer efficacement toutes leurs opérations. Notre système offre une gamme de fonctionnalités pour simplifier les tâches quotidiennes et améliorer l'efficacité.</p>
            <p>Nos fonctionnalités comprennent :</p>
            <ul>
                <li>Gestion des stocks et des achats</li>
                <li>Gestion des ordonnances et des renouvellements</li>
                <li>Facturation et gestion des paiements</li>
                <li>Gestion des comptes et de l'historique des opérations</li>
                <li>Conseils pharmaceutiques intégrés</li>
                <li>Rapports et analyses pour une prise de décision éclairée</li>
            </ul>
          
        </div>
    </div>
    <div class="section_a">
        <div class="title">
            <h2>Prédictions des épidémies</h2>
        </div>
        <p>Grâce à l'analyse des achats récurrents effectués par les pharmacies, Pharmacy Manager utilise des modèles prédictifs avancés pour identifier les épidémies potentielles dans une région donnée. En analysant les tendances d'achat de médicaments spécifiques, notre système peut détecter des augmentations anormales et prévoir les maladies émergentes.</p>
        <p>Cette fonctionnalité permet aux pharmacies de prendre des mesures préventives, de se préparer aux demandes accrues de certains médicaments et d'alerter les autorités sanitaires locales.</p>
      
    </div>
    <div class="section_a">
        <div class="title">
            <h2>Siège social</h2>
        </div>
        <p>Notre siège social est situé à l'adresse suivante :</p>
        <p>123 Rue de la Pharmacie, Beni, RDC</p>
    </div>
    <div class="section_a">
        <div class="author-info">
            <h2>Équipe de développement</h2>
            <p>Nom de l'auteur : <span>Johnson Nicleonic2.0</span></p>
            <p>Poste : Développeur principal</p>
            <p>Email : nicleo@pharmacymanager.com</p>
          </div>
    </div>
</section>

{% endblock %}