{% extends "base/base.html" %}
{% load static %}


{% block 'content' %}
<style>
    .step-links{
        /* padding: 2rem; */
        backdrop-filter: blur(5px);
        border: 2px solid rgb(117, 173, 221);
        z-index: 1000;
        display: flex;
        justify-content: end;
        position: fixed;
        bottom: .5rem;
        right: 1rem;
        width: 20rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step-links a{
        color: rgb(117, 173, 221);
        text-decoration: none;
        margin: 0 5px;
    }
    .step-links span{
        color: black;
        margin: 0 5px;
    }
</style>


<header>
    <div class="container head_h backdrop">
        <div class="nav">
            <div class="logo" href="{% url "pharma_app:index" %}">
                <img src="{% static "img/icon.png" %}" alt="">
                <h2 class="title">Pharmacy M.</h2>
            </div>
            <div  class="menu">
                <ul id="menu_nav">
                    {% if user.is_authenticated %}
                        <!-- <li>Categories</li> -->
                        <li>
                            <a href="{% url 'pharma_app:about' %}">About</a>
                        </li>
                        <li>Inventory</li>
                        <li id="search">Search</li>
                        <li>Config.</li>
                    {% endif %}
                    <li>
                        {% if user.is_authenticated %}
                            <a class="btn" href="{% url 'accounts:profile' %}">
                                <div class="profile-image-index">
                                    {% if profile.profile_img %}
                                        <img src="{{ profile.profile_img.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
                                    {% else %}
                                        <img src=" {% static "img/DefaultProfileImage.png" %}" alt="{{ user.first_name }} {{ user.last_name }}">
                                    {% endif %}
                                </div>
                            </a>
                        {% else %}
                            <a class="btn" href="{% url 'login' %}">Login</a>
                        {% endif %}
                        <!--Account-->
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <h2 class="welcome_hint">Welcome {{ user.username }}!</h2>
                {% else %}
                    <h2 class="welcome_hint"> Welcome Guest!</h2>
                {% endif %}
                <!-- menu_sm -->
                <div class="menu_sm">
               
                    {% if user.is_authenticated %}
                        <svg id="menu_btn" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    {% else %}
                        <a class="btn" href="{% url 'login' %}">Login</a>
                    {% endif %}
    
                </div>
            </div>


        </div>
        <div class="search" id="searchForm">
            <input type="text" id="search-input" placeholder="Rechercher un médicament">
        </div>
    </div>
</header>

<!-- section medocs list grid -->
{% if perms.pharma_app.add_medicament %}
    <div class="add_item"> 
        <a href="{% url "pharma_app:post_item" %}" id="add_item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </a>
    </div>
{% endif%}
<section class="grid_section">
    

    {% for medoc in medicaments %}

    <a href="{% url "pharma_app:item_view" medoc.id %}">
        <div class="medocItem">
            <div class="imageItem">
                {% if medoc.image %}
                    <img src="{{medoc.image.url}}"  alt="">
                {% else %}
                    <img src="{% static "img/icon.png" %}"  alt="">
                {% endif %}
            </div>
            <div class="details">
                <div class="title">
                    {{medoc.nom}}
                </div>
                <div class="count">
                    Quantity :  <span>{{medoc.stock}}</span>
                </div>
                <div class="price">
                    Price :  <span><span>{{medoc.prix}}</span></span>Fc
                </div>
                <div class="dateExp">
                    Exp. date :  <span>{{medoc.date_exp}}</span>
                </div>
            </div>
        </div>  
    </a>
   
    
    {% endfor %}

    
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first </a>
            <a href="?page={{ page_obj.previous_page_number }}"> previous </a>
        {% endif %}
        <br>
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        <br>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> next </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </span>
</section>






<script>
    let searchBt = document.getElementById('search');
    let searchForm = document.getElementById('searchForm');
    let add_item = document.getElementById('add_item');

    //============================= Tooltip
    function createTooltip(element, tooltipText) {
        var tooltip = document.createElement('div');
        //tooltip.classList.add('tooltip_class');
        tooltip.className = 'tooltip';
        tooltip.textContent = tooltipText;
        
        element.addEventListener('mouseover', function() {
            tooltip.style.display = 'block';
        });
        
        element.addEventListener('mouseout', function() {
            tooltip.style.display = 'none';
        });
        
        element.appendChild(tooltip);
    }
    createTooltip(add_item, "Ajouter un nouveau Médicament")
    
    //---------------------------------------------

    const anneeElement = document.getElementById('annee');

    searchBt.addEventListener('click', (e)=>{
        if(searchForm.classList.contains('active')){
            searchForm.classList.remove('active')
        }
        else{
            searchForm.classList.add('active')
            document.getElementById('search-input').focus();
        }
    })
    //document.addEventListener('click', function(event) {
    //    if(searchForm.classList.contains('active')){
    //        searchForm.classList.remove("active");
    //    }
    //});

    document.getElementById('menu_btn').addEventListener("click", (e)=>{
        if( document.getElementById('menu_nav').classList.contains("active")){
            document.getElementById('menu_nav').classList.remove("active")
        }
        else{
            document.getElementById('menu_nav').classList.add('active')
        }
    })
    
    //---------------------------------------- Search Item ---------------------------
    document.getElementById('search-input').addEventListener('input', function() {
        //var resultsContainer = document.getElementById('grid_section');
        //resultsContainer.innerHTML = "";
        var searchTerm = this.value;
        searchMedicament(searchTerm);
    });

    function searchMedicament(searchTerm) {
        var request = new XMLHttpRequest();
        request.open('GET', '/search-medicament/?q=' + searchTerm, true);
      
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            var response = JSON.parse(request.responseText);
            updateResults(response);
          }
        };
      
        request.send();
    }



   
    //========================== updateResults =======================
    function updateResults(results) {
        var resultsContainer = document.querySelector('.grid_section');
        resultsContainer.innerHTML = '';
        
        for (var i = 0; i < results.length; i++) {
          var medicament = results[i];
          var resultItem = document.createElement('a');
          //console.log(`Hey the item's id is ${parseInt(medicament.id)}`);
          console.log(`${medicament}`)
          console.log(JSON.stringify(medicament))
          resultItem.href = 'item/' + medicament.id;
          resultItem.innerHTML = `
            <div class="medocItem">
              <div class="imageItem">
                <img src="{% static "img/icon.png" %}" alt="">
              </div>
              <div class="details">
                <div class="title">
                  ${medicament.nom}
                </div>
                <div class="count">
                  Quantity : <span>${medicament.quantite}</span>
                </div>
                <div class="price">
                  Price : <span><span>${medicament.prix}</span></span>Fc
                </div>
                <div class="dateExp">
                  Exp. date : <span>${medicament.date_exp}</span>
                </div>
              </div>
            </div>
          `;
          resultsContainer.appendChild(resultItem);
        }
      }
    //---------------------------------------------------
</script>

{% endblock %}