{% extends "base/base.html" %}

{% load static %}

{% block 'title' %}User Profile{% endblock %}

{% block 'content' %}
<main class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-image">
        {%  if profile %}
          <a href="{% url 'pharma_app:profile_edit' %}">
            {% if profile.profile_img %}
              <img src="{{ profile.profile_img.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
            {% else %}
              <img src=" {% static "img/DefaultProfileImage.png" %}" alt="{{ user.first_name }} {{ user.last_name }}">
            {% endif %}
          </a>
        {% else %}
          <a href="{% url 'pharma_app:profile_crea' %}">
            <img src=" {% static "img/DefaultProfileImage.png" %}" alt="{{ user.first_name }} {{ user.last_name }}">
          </a>
        {% endif %}
      </div>
      <div class="profile-info">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        {% if profile.u_name %}
          <p><strong>Username:</strong> <em class="data">{{ profile.u_name }}</em> </p>
        {% endif %}
        <p><strong>Account name:</strong><em class="data"> {{ user.username }}</em> </p>
        <p><strong>Email:</strong> <em class="data">{{ user.email }}</em> </p>
        <p><strong>Profile:</strong> <em class="data">{{ profile }}</em> </p>

      </div>
    </div>
    <div class="profile-actions">
      <a href="{% url 'accounts:change-profile' %}" class="profile-button">
        Edit Account
      </a>
      <a href="{% url 'password_change' %}" class="profile-button">
        Change Password
      </a>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
		    <input type="submit" style="margin-bottom: 1rem;" value="Log Out">
      </form>

      <a href="{% url 'pharma_app:index' %}" class="profile-button">
        Home
      </a>
    </div>
  </div>
</main>
{% endblock %}